<link rel="stylesheet" type="text/css" href="asset/app.css">
<script type="text/javascript" src="asset/jquery_plantuml/jquery.js"></script>
<script type="text/javascript" src="asset/jquery_plantuml/rawdeflate.js"></script>
<script type="text/javascript" src="asset/jquery_plantuml/encode64.js"></script>
<script src="asset/echarts.common.min.js"></script>
<script src="asset/mermaid.min.js"></script>
<script src="asset/app.js"></script>